<div *ngIf="editNoteError" class="alert alert-danger col-md-5 col-sm-offset-2" role="alert">
        {{editNoteError}}
      </div> 
<div class="row note">
   
    <div class="pull-left ">
        <img [src]="note.imagePath" [alt]="note.title" class="img-responsive"
            style="height: 200px; width:200px" />
    </div>
    <div class="row">
        <div class="col-xs-5 col-xs-offset-1 ">
            <h2>{{note.title}}</h2>
        </div>
        <div class="col-xs-5 col-xs-offset-1 notes"*ngIf="!(sharable===1)">
            <button (click)="onEditClick()" class="btn btn-primary">Edit</button>
            <button (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
            <button (click)="onShareClick()" class="btn btn-success">{{sharePreview}}</button>
        </div>
        <div class="col-xs-5 col-md-offset-1">
            <h5>{{note.description}}</h5>
        </div>
    </div>
</div>